In [ ]:
#Haremos una línea de comentario
#Las variables son elementos que almacenan temporalmente un valor, se alojan en el kernel
x = 5

In [ ]:
#como ver un resultado, se ve en el output
print(x)
print(x + 3)

In [ ]:
#Python es un lenguaje fuertemente equipado, distingue mayúsculas de minúsculas (case sensitive)
X = 3
print(x + X)

In [ ]:
#Variables alfanuméricas (letras, números, caracteres), entre comillas dobles o simples
dia = "Lunes"
print(dia)

In [ ]:
#Como concatenar valores con la función print
print("Hoy es", dia, "y mañana martes")

In [ ]:
#como reasignar una variable, igual que asignar
x = 8
print(x)

In [ ]:
#listas, tuplas y diccionarios
#elementos que almacenan temporalmente varios valores
semana = ['Lunes', 'Martes', 'Miércoles', 'Jueves', 25, 68]
semana
#diferencia entre lista [] y dupla () es que la dupla no se puede modificar en valor

In [ ]:
semana[3]
#las listas pueden cambiar de valores
semana[0] = "Domingo"
semana

In [ ]:
#función len, nos da el número de caracteres de una variable
len(dia)
#número de caracters de un elemento de la lista
len(semana[0])
#len de una lista nos da el número de elementos de ésta
len(semana)

In [ ]:
#añadir un elemento a una lista, con append
semana.append("Viernes")
semana

In [ ]:
#para insertar un elemento, con .insert(posición o índice, valor a introducir en la lista)
semana.insert(1, "Lunes")
semana

In [ ]:
#para ver cuántas veces está repetido un elemento, con la función count
semana.count("Viernes")

In [ ]:
#eliminar el primer elemento que encuentra
semana.remove("Lunes")
print(semana)

In [ ]:
semana.append("Lunes")
semana

In [ ]:
#Para eliminar valor según el índice
del semana[1]
semana

In [ ]:
#ctrl + D te selecciona todas las variables iguales. si quieres cambiar el nombre escribes, copias, seleccionas la variabla a cambiar, ctrl+D y ctrl + V
meses
meses

PRACTICA 1: CREAREMOS UNA LISTA LLAMADA MESES, QUE TENDRA LOS MESES DE ENERO A MAYO, MENOS EL ABRIL. DESPUÉS AÑADIREMOS JUNIO Y JULIO AL FINAL, INSERTAREMOS EL MES DE ABRIL EN SU SITIO CORRECTO, AÑADIREMOS 2 VECES MÁS AL FINAL FEBRERO, EN UNA VARIABLE ALMACENAREMOS EL NÚMERO DE VECES QUE ESTÁ EL MES DE FEBRERO, DESPUÉS ELIMINAREMOS LOS FEBREROS QUE SOBRAN Y EN UN TEXTO
NOS TIENE QUE MOSTRAR CUANTAS VECES ESTABA EL MES DE FEBRERO.

In [ ]:
meses = ['Enero', 'Febrero', 'Marzo', 'Mayo']
meses

In [ ]:
meses.append('Junio')
meses.append('Julio')
meses

In [ ]:
meses.insert(3, 'Abril')
meses

In [ ]:
meses.append('Febrero')
meses.append('Febrero')
meses

In [ ]:
num_febrero = meses.count('Febrero')
num_febrero

In [ ]:
del meses[-2:]
meses

In [ ]:
print('Febrero estaba', num_febrero, 'veces')

In [ ]:
#CORRECCIÓN
meses = ['Enero', 'Febrero', 'Marzo', 'Mayo']
print(meses)
print() #línea en blanco
meses.append('Junio')
print(meses)
meses.append('Julio')
print(meses)
meses.insert(3, 'Abril')
print(meses)
meses.append('Febrero')
print(meses)
meses.append('Febrero')
print(meses)
numero_febrero = meses.count('Febrero')
print(numero_febrero)
#Eliminar
del meses[7:]
print(meses)
print('El número de veces de febrero es', numero_febrero)

In [ ]:
#Lista numérica
numeros = [15, 24, 78, 63]
numeros

In [ ]:
numeros2 = range(5)
numeros2 
list(numeros2)

El range si solo va un número, genera una lista que empieza por 0 y se autoincrementa en 1.

In [ ]:
numeros3 = range(10, 26, 2) # número final no se añade, step 2 crea una lista que salta de 2 en 2 valores.
list(numeros3)

In [ ]:
numeros4 = range(32, 10, -2) 
list(numeros4)

In [ ]:
#Funciones de resumen sobre listas numericas
sum(numeros3) # sumar los valores de la lista
max(numeros3) # Ver el valor más grande
min(numeros3) # Ver el valor más pequeño

El bucle, es un código que se repite hasta que se cumple una condición dada. 2 tipos: finitos e infinitos. El finito tiene un número determinado de repeticiones o iteraciones. El infinito se tiene que dar una condición, si una variable no tiene el valor determinado, el bucle no se detiene nunca.

In [ ]:
for i in numeros:
    print(i)
print('terminado con éxito')

In [ ]:
iter = 1
for i in [15, 26, 73]:
    print(iter)
    print(i)
    iter = iter + 1  #contador
    iter += 1

In [33]:
iter = 1
for mes in meses:
    print("el", iter, "mes del año es", mes)
    iter += 1

el 1 mes del año es Enero
el 2 mes del año es Febrero
el 3 mes del año es Marzo
el 4 mes del año es Abril
el 5 mes del año es Mayo
el 6 mes del año es Junio
el 7 mes del año es Julio

PRÁCTICA 2: CREAR UNA LISTA CON LOS MESES DE ENERO A DICIEMBRE Y MEDIANTE UN BUCLE FOR IMPRIMIR LOS MESES PONIENDO EL NÚMERO DE ORDEN DELANTE, 
SÓLO IMPRIMIR LOS MESES PARES.
LO MISMO PERO QUE EL TEXTO PONGA EL PRIMER MES DEL AÑO ES ENERO, EL SEGUNDO ES FEBRERO

In [70]:
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
cardinal = ['primero', 'segundo', 'tercero', 'cuarto', 'quinto', 'sexto', 'séptimo', 'octavo', 'noveno', 'décimo', 'undécimo', 'duodécimo']
for i in range(1, 13, 2):
    print(i)

print()

for i in range(1, 13, 2):
    print(i+1, meses[i])

print()


for i in [1, 3, 5, 7, 9, 11]:
    print('El', cardinal[i], 'mes es', meses[i])

print()
palabra = 'Domingo'
for letra in palabra:
    print(letra)

1
3
5
7
9
11

2 Febrero
4 Abril
6 Junio
8 Agosto
10 Octubre
12 Diciembre

El segundo mes es Febrero
El cuarto mes es Abril
El sexto mes es Junio
El octavo mes es Agosto
El décimo mes es Octubre
El duodécimo mes es Diciembre

D
o
m
i
n
g
o

In [76]:
8 > 4
8 == 12

False

In [79]:
for i in range(len(meses)):
    print(i+1)

1
2
3
4
5
6
7
8
9
10
11
12